h2 {
    text-align: center;
    color: green;
}

p {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px 0;
    line-height: 25px;

    &:first-of-type {
        text-align: center;
        font-size: 20px;
    }
}